<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ contact?.name }}</h3>
                    </div>
                    <div class="col-xs-6 pull-left">
                        <img [src]="contact?.imageUrl" alt="contact?.name" class="img-responsive">
                    </div>
                    <div class="col-xs-6 pull-right">
                        <div class="row">
                            <div class="col-xs-5">
                                <button class="btn btn-info">
                                    <fa-icon class="vertical-align-middle" [icon]="faPen"></fa-icon>
                                    Edit
                                </button>
                            </div>
                            <div class="col-xs-5">
                                <button class="btn btn-danger">
                                    <fa-icon class="vertical-align-middle" [icon]="faTrash"></fa-icon>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
               <ul>
                    <li><p><strong>Email: </strong>{{ contact?.email }}</p></li>
                    <li><p><strong>Phone: </strong>{{ contact?.phone }}</p></li>
               </ul>
            </div>
        </div>
    </div>
</div>